body {
	color: black;
	background-color: #cc9;
}

dt {
	font-weight: bold;
	float: left;
	margin-right: 1em;
}

dt:after {
	content: ': ';
}

dd {
	display: block;
	clear: right;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	font-size: 90%;
}

tr {
}

th {
	background-color: #eeb;
}

tr:hover {
	background-color: #dda;
}

td {
	border: 1px solid black;
	padding: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.nav {
	border-bottom: 1px solid black;
	padding: 0.3em;
}

.nav ul {
	list-style-type: none;
	display: inline;
	margin: none;
}

.nav li {
	display: inline;
}

.nav li a {
	background-color: white;
	padding: 0.3em;
	text-decoration: none;
	color: black;
	border: 1px solid black;
	margin: 0.5em;
}

.nav:hover li a {
	background-color: #ddd;
}

.nav li a:hover {
	background-color: #ddd;
	border-bottom: 1px solid #cc9;
}

