{% extends "base.html" %}

{% block content %}


<!-- Main Dashboard -->
<!-- Summary -->
<div class="main_dash">
  <div class="container-fluid">
    <div class="card drop-shadow">
      <div class="card-block">
        <h1> {{data.name}} </h1>
        <br>
        <h6> {{data.summary}} </h6>
        <br>
        <p> {{data.description}}</p>
      </div>
    </div>

    <div class="row top_spacer">

      <!-- Metric 1, half screen, heatmap-->
      <div class="col-md-6">
        <div class="card drop-shadow">
          <div class="card-block">
            <h4 class="card-title">Commits by Hour of Week-dummy data </h4>
            <div class="metric">
              <div id="{{data.visualizations[0].heatmap.divID}}"></div>
              <div id="dataset-picker"></div>
            </div>
            <div class="details_spacer">
              <div class="text_content">
                <h5 class="card-text"> This data shows cool stuff </h5>
                <p class="card-text"> As you can see, this data focuses on business hours </p>
                <p class="card-text"> <small class="text-muted"> System last updated at 11:34am </small></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Metric 2, half screen, bar chart-->
      <div class="col-md-6">
        <div class="card drop-shadow">
          <div class="card-block">
            <h4 class="card-title"># Commits by day - real data </h4>
            <div class="metric">

              <div id="{{data.visualizations[0].barchart.divID}}"></div>

            </div>
            <div class="details_spacer">
              <div class="text_content">
                <h5 class="card-text"> Bar Chart</h5>
                <p class="card-text"> What week is this from?  <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="card-text"> <small class="text-muted"> System last updated at 11:34am </small></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> 

    <!-- Metric 3, full width, line chart -->
    <div class="row top_spacer">

      <div class="col-md-12">
        <div class="card drop-shadow">
          <div class="card-block">
            <h4 class="card-title">Commits per Author - real data</h4>
            <div class="metric">

              <div id ="{{data.visualizations[0].linegraph1.divID}}"></div>
              
            </div>
            <div class="details_spacer">
              <div class="text_content">
                <h5 class="card-text"> Multi Series Line Chart</h5>
                <p class="card-text"> Theres a few authors on this project but 1 stands out </p>
                <p class="card-text"> <small class="text-muted"> System last updated at 11:34am </small></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Another test metric, line chart -->
    <div class="row top_spacer">

      <div class="col-md-12">
        <div class="card drop-shadow">
          <div class="card-block">
            <h4 class="card-title">Cumulative Added Lines by Author - real data</h4>
            <div class="metric">

              <div id ="{{data.visualizations[0].linegraph2.divID}}"></div>

            </div>
            <div class="details_spacer">
              <div class="text_content">
                <h5 class="card-text"> Multi Series Line Chart</h5>
                <p class="card-text"> Theres a few authors on this project but 1 stands out </p>
                <p class="card-text"> <small class="text-muted"> System last updated at 11:34am </small></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- bottom for aesthetic spacing -->
    <div class="top_spacer"></div>

  </div>
</div>

{% endblock %}

